.venv/
__pycache__/
*.py[cod]
.pytest_cache/
*.egg-info/
login_data.txt
scratch/
.app.lock
audit_history.db
.ruff_cache
client_databases.json
users.json
t.py
.opencode
login_data_for_users.txt

/*.xls
/*.xlsx
